$azure: #357eb2;
$darkSky: #104084;
$assBlue: hsl(204 62% 34% / 1);

@use "bulma/versions/bulma-no-dark-mode.scss" with (
  $family-primary: '"Figtree Variable", sans-serif',
  $navbar-breakpoint: 320px, // Do not hide menu items too soon
  $navbar-item-img-max-height: 4.5rem,
  $card-shadow: 0 0.2em 0.8em -0.125em hsla(221deg, 14%, 4%, 0.2),
  $box-shadow: 0 0.2em 0.8em -0.125em hsla(221deg, 14%, 4%, 0.2),
  $primary: $assBlue,
  $title-color: $darkSky,
  $title-weight: normal,
  $weight-semibold: normal,
  $content-heading-color: $darkSky
);

.cell {
  display: grid;
  height: 100%;
}

.navbar .navbar-item .logo { 
  width: 100px;
}

.navbar {
  transition: background-color 300ms linear;
  -webkit-transition: background-color 300ms linear;
  -ms-transition: background-color 300ms linear;
  -o-transition: background-color 300ms linear;
  -ms-transition: background-color 300ms linear;
}

.navbar.scrolled-down {
  background-color: hsl(204 62% 34% / 0.9);
  transition: background-color 300ms linear;
  -webkit-transition: background-color 300ms linear;
  -ms-transition: background-color 300ms linear;
  -o-transition: background-color 300ms linear;
  -ms-transition: background-color 300ms linear;
}

.hero {
  &.has-background {
    position: relative;
    overflow: hidden;
  }
  &-background {
    position: absolute;
    object-fit: cover;
    object-position: center center;
    width: 100%;
    height: 100%;
  }
  &.is-transparent {
    opacity: 0.3;
  }
}

html {
  scroll-behavior: smooth;
};

section {
  scroll-margin-top: 60px;
};

h1, h2, h3, h4, h5, .title, .subtitle {
  font-family: "Figtree Variable", sans-serif;
}

.content h5 {
  margin-bottom: 0.25em;
}

ul.events {
  list-style-type: none;
  padding: 0;
  margin: 0;
  line-height: normal;
}

.material-symbols-rounded {
  font-family: "Material Symbols Rounded";
  font-weight: normal;
  font-style: normal;
}

[x-cloak] { display: none !important; }