$azure: #357eb2;
$darkSky: #0b2d5c;

@use "bulma/versions/bulma-no-dark-mode.scss" with (
  $family-primary: '"Inter", sans-serif',
  $navbar-breakpoint: 320px, // Do not hide menu items too soon
  $navbar-box-shadow-color: rgba(117, 117, 117, 0.2),
  $navbar-box-shadow-size: 0 1px 0 0,
  $card-shadow: 0 0.2em 0.8em -0.125em hsla(221deg, 14%, 4%, 0.2),
  $primary: $azure,
  $title-color: $darkSky,
  $content-heading-color: $darkSky
);

.navbar .navbar-item svg { 
  width: 100px; 
  height: auto; 
  display: block;
  /* Flip horizontally */
  transform: scaleX(-1);  
  transform-origin: 50% 50%;
}

.hero {
  &.has-background {
    position: relative;
    overflow: hidden;
  }
  &-background {
    position: absolute;
    object-fit: cover;
    object-position: center center;
    width: 100%;
    height: 100%;
  }
  &.is-transparent {
    opacity: 0.3;
  }
}

html {
  scroll-behavior: smooth;
};

section {
  scroll-margin-top: 40px;
};

h1, h2, h3, h4, h5, .title, .subtitle {
  font-family: "Geist", sans-serif;
}

.content h5 {
  margin-bottom: 0.25em;
}

ul.events {
  list-style-type: none;
  padding: 0;
  margin: 0;
  line-height: normal;
}

.material-symbols-rounded {
  font-family: "Material Symbols Rounded";
  font-weight: normal;
  font-style: normal;
}