---
layout: layouts/base
default: true
---
{% include "partials/nav.njk" %}
{% include "partials/hero.njk" %}

<section id="swimschool" class="section content" x-ref="swimschool">
    <div class="container is-max-desktop">
        {% include "partials/swim-school-groups.njk" %}
    </div>
</section>
<section id="training" class="section content" x-ref="training">
    <div class="container is-max-desktop">
        {% include "partials/training-groups.njk" %}
    </div>
</section>
<section id="club" class="section content" x-ref="club">
    <div class="container is-max-desktop">
        {{ collections.club[0].templateContent | safe }}
    </div>
</section>

{% include "partials/footer.njk" %}