<footer class="footer">
  <div class="container is-max-desktop">
    <div class="content">
      <p class="has-text-centered">
        <strong>Alvesta Simsällskap</strong> kan nås på e-post <a href="mailto:kansli@alvestass.se">kansli@alvestass.se</a>.      
      </p>
      <p class="has-text-grey is-size-7">Vi gillar simning, inte spårning. Cookies är små filer som följer dig runt på nätet för att samla in vad du har för intressen, så annonsnätverk kan sälja dig mer prylar. Vi tycker du ska få simma fritt, därför använder Alvesta Simsällskap inga cookies.</p>
    </div>
  </div>
</footer>