<footer class="footer">
  <div class="container is-max-desktop">
    <div class="content">
      <p class="has-text-centered">
        <strong>Alvesta Simsällskap</strong> nås lättast på e-post <a href="mailto:kansli@alvestass.se">kansli@alvestass.se</a>.      
      </p>
      <p class="has-text-centered has-text-grey is-size-7">Hemsidan använder inga cookies. Vi gillar simning, inte spårning.</p>
    </div>
  </div>
</footer>