  <nav x-scroll-to-header class="navbar is-primary is-fixed-top" role="navigation" aria-label="main navigation" x-bind:class="{ 'scrolled-down': !atTop }">
    <div class="container is-max-desktop">
      <div class="navbar-brand">
        <a class="navbar-item" href="#start" @click="$refs.start.scrollIntoView()">
          <img src="ass-logo.svg" class="logo" />
        </a>
      </div>
      <div class="navbar-menu">
        <div class="navbar-start">
          <a class="navbar-item" href="#swimschool" @click="$refs.swimschool.scrollIntoView()">Simskola</a>
          <a class="navbar-item" href="#training" @click="$refs.training.scrollIntoView()">Grupper</a>
          <a class="navbar-item" href="#club" @click="$refs.club.scrollIntoView()">Föreningen</a>
        </div>
        <div class="navbar-end">
          <div class="navbar-item">
            <a class="navbar-item material-symbols-rounded is-size-3" @click="modal = !modal">account_circle</a>
          </div>
        </div>
      </div>
    </div>
  </nav>