// Set your brand colors
$purple: #8a4d76;

// Path to Bulma's sass folder
@use "bulma/sass" with (
  $navbar-breakpoint: 320px, // Do not hide menu items too soon
  $card-shadow: 0 0.2em 0.8em -0.125em hsla(221deg, 14%, 4%, 0.2),
);

html {
  scroll-behavior: smooth;
}

section {
  scroll-margin-top: 20px;
}

.hero {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1014%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='%230e2a47'%3e%3c/rect%3e%3cpath d='M 0%2c41 C 144%2c78.8 432%2c225.4 720%2c230 C 1008%2c234.6 1296%2c97.2 1440%2c64L1440 560L0 560z' fill='%23184a7e'%3e%3c/path%3e%3cpath d='M 0%2c520 C 96%2c491.2 288%2c394.2 480%2c376 C 672%2c357.8 768%2c434.6 960%2c429 C 1152%2c423.4 1344%2c364.2 1440%2c348L1440 560L0 560z' fill='%232264ab'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1014'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}