  <section id="start" class="hero is-halfheight" x-ref="start">
    <div class="hero-body">
      <div class="container is-max-desktop">
        <p class="title">Half height hero</p>
        <p class="subtitle">Half height subtitle</p>
      </div>
    </div>
  </section>