<h1 class="title">Simskola</h1>
<p>
  Föreningen bedriver simskola enligt <a href="https://svensksimidrott.se/simkunnighet/simmarken/simmarken-" target="_blank" rel="noopener">Svenk Simidrotts riktlinjer och nivåer</a> i följande grupper.
</p>
{% set groups = collections.swimschoolgroups | sort(attribute="order") %}
{% for chunk in groups | batch(3) %}
  <div class="columns">
    {% for group in chunk %}
      <div class="column is-4">
        <div class="card">
          <div class="card-image">
            <figure class="image is-16by9">
              {% if group.data.image %}
                <img src="/media/{{ group.data.image }}" alt="{{ group.data.imageAttribution }}">
              {% else %}
                <img src="https://placehold.co/1920x1080?text=16:9" alt="Baddaren">
              {% endif %}
            </figure>
          </div>
          <div class="card-content">
            <div class="content">
              {{ group.templateContent | safe }}
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endfor %}