<h1 class="title">Träningsgrupper</h1>
<p>My first website with <strong>Bulma</strong>!</p>
{% set groups = collections.traininggroups | sort(attribute="order") %}
{% for chunk in groups | batch(3) %}
  <div class="columns">
    {% for group in chunk %}
      <div class="column is-4">
        <div class="card">
          <div class="card-image">
            <figure class="image is-16by9">
              <img src="https://placehold.co/1920x1080?text=16:9" alt="Baddaren">
            </figure>
          </div>
          <div class="card-content">
            <div class="content">
              {{ group.templateContent | safe }}
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endfor %}